{% extends 'base.html' %}
{% block title %} Sterge Locatia {% endblock %}

{% block content %}
    <div class="container">
        <h3 class='text-center'>Sigur vrei sa stergi Locatia {{ pos.name }}?</h3>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">YES</button>
            <a href="{% url 'user_list' %}" class="btn btn-secondary">NO</a>
        </form>
    </div>
{% endblock %}