{% extends 'base.html' %}
{% block title %} Lista Locatii {% endblock %}
{% block content %}
    <div class="container-fluid" style="margin-top:50px">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>E-mail</th>
                        {% if request.user.is_manager or request.user.is_superuser %}
                            <th>Actions</th>
                        {% endif %}

                    </tr>
                    </thead>
                    <tbody>
                    {% for pos in all_pos %}
                        <tr>
                            <td>{{ pos.name }}</td>
                            <td>{{ pos.email }}</td>
                            <td>
                                {% if request.user.is_manager or request.user.is_superuser %}
                                    <a href="{% url 'update_pos' pos.id %}"
                                       class="btn btn-primary btn-update">Update</a>
                                {% endif %}
                                {% if request.user.is_manager or request.user.is_superuser %}
                                    <a href="{% url 'delete_pos' pos.id %}"
                                       class="btn btn-primary btn-delete">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
{% endblock %}
