{% extends 'base.html' %}
{% load static %}
{% block title %} Homepage {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid" style=margin-top:50px>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Echipament</th>
                            <th>Locatie</th>
                            <th>Ultima actiune</th>
                            {% if request.user.is_manager %}
                                <th>Actiuni</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for equipment in all_equipments %}
                            {% if equipment.pos == request.user.locatie %}
                                <tr>
                                    <td><a href="{% url 'equipment_details' equipment.id %}"
                                           style="color: white">{{ equipment.name }}</a></td>
                                    <td>{{ equipment.pos }}</td>
                                    <td>
                                        {% if request.user.is_manager %}
                                            <a href="{% url 'update_equipment' equipment.id %}"
                                               class="btn btn-primary btn-update">Update</a>
                                        {% endif %}
                                        {% if request.user.is_manager %}
                                            <a href="{% url 'delete_equipment' equipment.id %}"
                                               class="btn btn-primary btn-delete">Delete</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}

                            {% if request.user.is_manager or request.user.is_superuser %}
                                <tr>
                                    <td><a href="{% url 'equipment_details' equipment.id %}"
                                           style="color: white">{{ equipment.name }}</a></td>
                                    <td>{{ equipment.pos }}</td>
                                    <td>

                                            <a href="{% url 'update_equipment' equipment.id %}"
                                               class="btn btn-primary btn-update">Update</a>


                                            <a href="{% url 'delete_equipment' equipment.id %}"
                                               class="btn btn-primary btn-delete">Delete</a>

                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
