{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}

    <div class="col-md-6 offset-md-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Login user</button>
                    {#                    <a href="{% url 'password_reset' %}" class="btn btn-outline-danger">Reset Password?</a>#}
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
