{% extends 'base.html' %}

{% block title %}
    Equipment Details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ equipment.name }}</h5>
                    </div>
                    <div class="card-body">

                        <p class="card-text">Locatie {{ equipment.pos }}</p>
                        <p class="card-text">Data adaugare in locatie {{ equipment.date_added }}</p>
                        <p class="card-text">Serie {{ equipment.serial_number }}</p>
                        <p class="card-text">Numar Inventar {{ equipment.inventory_number }}</p>
                        <p class="card-text">{% for condition in equipment.maintenances.all %}
                                {{ condition.name }};
                            {% endfor %}</p>

                        <a href=" {% url 'list_of_equipments' %}" class="btn btn-primary">Inapoi la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

