{% extends 'base.html' %}
{% block title %} Lista Echipamente {% endblock %}
{% block content %}
    <div class="container-fluid" style="margin-top:50px">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Serial Number</th>
                        <th>Inventory Number</th>
                        <th>Conditii</th>
                        {% if request.user.is_manager or request.user.is_superuser %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipment in all_equipments %}
                        <tr>
                            <td>{{ equipment.name }}</td>
                            <td>{{ equipment.serial_number }}</td>
                            <td>{{ equipment.inventory_number }}</td>
                            <td>
                                {% for condition in equipment.maintenances.all %}
                                    {{ condition.name }};
                                {% endfor %}
                            </td>
                            <td>

                                {% if request.user.is_manager or request.user.is_superuser %}

                                    <a href="{% url 'update_equipment' equipment.id %}"
                                       class="btn btn-primary btn-update">Update</a>
                                {% endif %}
                                {% if request.user.is_manager or request.user.is_superuser %}
                                    <a href="#"
                                       class="btn btn-primary btn-delete btn-delete">Delete</a>
                                {% endif %}


                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
