{% extends 'base.html' %}
{% block title %} Adauga o noua conditie {% endblock %}
{%  block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div>
                    <h2 class="text-center">Completeaza datele noii conditii</h2>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-view">
                        {{ field.label }}
                        {{ field }}
                        {{ field.errors }}
                        </div>
                    {% endfor %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Salveaza conditia</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}