{% extends 'base.html' %}
{% block title %} Lista Conditii {% endblock %}
{% block content %}
    <div class="container-fluid" style="margin-top:50px">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Recurenta</th>
                        {% if request.user.is_manager %}
                        <th>Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for condition in all_conditions %}
                        <tr>
                            <td>{{ condition.name }}</td>
                            <td>{{ condition.type }}</td>
                            <td>{{ condition.recurrence }}</td>
                            {% if request.user.is_manager %}
                                <td>
                                <a href="{% url 'update_condition' condition.id %}" class="btn btn-primary btn-update">Update</a>
                            {% endif %}
                            {% if request.user.is_manager %}
                            <a href="{% url 'delete_condition' condition.id %}" class="btn btn-primary btn-delete">Delete</a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
{% endblock %}
