{% extends 'base.html' %}
{% block title %} Rescrie Conditia {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div>
                    <h2 class="text-center">Rescrie datele conditiei {{ conditions.name }}</h2>
                </div>
                <form method="post">
                    {% csrf_token %}
{#                    {{ form.as_p }}#}
                    {% for field in form %}
                        {{ field.label }}
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Salveaza rescrierile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}