body {
    color: white;
}

tr {
    color: white;
    font-family: "Century Gothic";
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    color: rgb(255, 34, 12);
}

.background_color {
    background-color: rgb(102, 99, 112);
}

.btn-delete:hover {
    color: red;
    outline-style: groove;
    outline-width: thin;
}

.btn-update:hover {
    color: greenyellow;
    outline-style: groove;
    outline-width: thin;
}



.btn {
    background-color: rgb(116, 26, 29);
    border-color: rgb(102, 99, 112);
}

.btn:hover {
    background-color: rgb(28, 31, 51);
}

.text_link {
    color: white;
    text-decoration: none;
}
.card {
    margin-top: 10%;
    color: rgb(116, 26, 29);
    background-color: gray;
}

.form-view {
    margin: 15px;
}