{% extends 'base.html' %}

{% block title %}
    Update User
{% endblock %}


{% block content %}

    </div class="container" >
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Update user</button>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}