{% extends 'base.html' %}
{% block title %} Lista Useri {% endblock %}
{% block content %}
    <div class="container-fluid" style="margin-top:50px">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>Numar Telefon</th>
                        <th>User Name</th>
                        <th>Status</th>
                        <th>Locatie</th>
                        <th>Actiuni</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in all_users %}
                        <tr>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone_number }}</td>
                            <td>{% if user.username != 'SuperUser' %}{{  user.username }}{% endif %}</td>
                            <td>{{ user.status }}</td>
                            <td>{{ user.locatie }}</td>
                            <td>
                                {% if request.user.is_manager %}
                                    <a href="{% url 'update_user' user.id %}"
                                       class="btn btn-primary btn-update">Update</a>
                                {% endif %}
                                {% if request.user.is_manager %}
                                    <a href="{% url 'delete_user' user.id %}"
                                       class="btn btn-primary btn-delete">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
