<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid ">
        <a class="navbar-brand" style="color: rgb(255, 34, 12)" href="{% url 'homepage' %}">RedPipes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Locatii
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.user.is_manager or request.user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'add_pos' %}">Adauga locatie noua</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'list_of_pos' %}">Lista locatii</a></li>
                        <li>
{#                            <hr class="dropdown-divider">#}
{#                        </li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Echipamente
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.user.is_manager or request.user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'add_equipment' %}">Adauga echipament nou</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'list_of_equipments' %}">Lista echipamente</a></li>
{#                        <li>#}
{#                            <hr class="dropdown-divider">#}
{#                        </li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Conditii
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.user.is_manager or request.user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'create_condition' %}">Adauga o noua conditie</a>
                            </li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'list_of_conditions' %}">Lista conditii</a></li>
{#                        <li>#}
{#                            <hr class="dropdown-divider">#}
{#                        </li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
                    </ul>


                </li>
                {% if request.user.is_manager or request.user.is_superuser%}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Useri
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="{% url 'create_user' %}">Adauga un nou user</a></li>
                        <li><a class="dropdown-item" href="{% url 'user_list' %}">Lista Useri</a></li>
                        <li>
{#                            <hr class="dropdown-divider">#}
{#                        </li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
                    </ul>

                {% endif %}
                </li>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Targetare</a>
                </li>

            </ul>
        {% endif %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-danger">Log Out {{ request.user.username }}</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-success">Login</a>
        {% endif %}




        {#            <form class="d-flex">#}
        {#                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
        {#                <button class="btn btn-outline-success" type="submit">Search</button>#}
        {#            </form>#}
        </div>

    </div>
</nav>
